<!DOCTYPE html>
<html>
	<head>
		<title>ESO / Калькулятор</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/svg" href="{{url_for('static', filename='img/logo.png')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/grid.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/calculator.css')}}">
		<script type="text/javascript">
			function ToggleLoader() {
				if (loader.classList.contains("hidden")) loader.classList.remove("hidden"); else loader.classList.add("hidden");
			}
			window.addEventListener("load", event => {
				var image = document.querySelector('img');
				var isLoaded = image.complete && image.naturalHeight !== 0;
				ToggleLoader();
			});
		</script>
	</head>
	<body>
		<div id="loader"><div>ESO</div></div>
		<div class="navbar">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="{{url_for('static', filename='img/logo.png')}}">
				</a>
				<ul class="buttons">
					<li>
						<button onclick="location.replace('/');">ГЛАВНАЯ</button>
					</li>
				</div>
			</div>
		</div>
		<div class="content container">
			<h1 class="col-12 title">
				Подбор оптимального оборудования
			</h1>
			<hr class="sep-1">
			<form action="{{url_for('handle_data')}}" method="post">
				<div class="row">
					<label class="col-sm-auto">Ваш регион:</label>
					<!-- <input class="col-auto field short" type="number" name="wind-speed" max-width="3em" min="0" step="any"> -->
					<select name="subject" max-width="3em" min="0" step="any">
						<option value="">Выберите ваш субъект РФ</option>
						<option value="Алтайский край">Алтайский край</option>
						<option value="Амурская область">Амурская область</option>
						<option value="Архангельская область">Архангельская область</option>
						<option value="Астраханская область">Астраханская область</option>
						<option value="Белгородская область">Белгородская область</option>
						<option value="Брянская область">Брянская область</option>
						<option value="Владимирская область">Владимирская область</option>
						<option value="Волгоградская область">Волгоградская область</option>
						<option value="Вологодская область">Вологодская область</option>
						<option value="Воронежская область">Воронежская область</option>
						<option value="Донецкая Народная Республика">Донецкая Народная Республика</option>
						<option value="Еврейская АО">Еврейская АО</option>
						<option value="Забайкальский край">Забайкальский край</option>
						<option value="Запорожская область">Запорожская область</option>
						<option value="Ивановская область">Ивановская область</option>
						<option value="Иркутская область">Иркутская область</option>
						<option value="Кабардино-Балкарская Республика">Кабардино-Балкарская Республика</option>
						<option value="Калининградская область">Калининградская область</option>
						<option value="Калужская область">Калужская область</option>
						<option value="Камчатский край">Камчатский край</option>
						<option value="Карачаево-Черкесская Республика">Карачаево-Черкесская Республика</option>
						<option value="Кемеровская область">Кемеровская область</option>
						<option value="Кировская область">Кировская область</option>
						<option value="Костромская область">Костромская область</option>
						<option value="Краснодарский край">Краснодарский край</option>
						<option value="Красноярский край">Красноярский край</option>
						<option value="Курганская область">Курганская область</option>
						<option value="Курская область">Курская область</option>
						<option value="Ленинградская область">Ленинградская область</option>
						<option value="Липецкая область">Липецкая область</option>
						<option value="Луганская Народная Республика">Луганская Народная Республика</option>
						<option value="Магаданская область">Магаданская область</option>
						<option value="Москва">Москва</option>
						<option value="Московская область">Московская область</option>
						<option value="Мурманская область">Мурманская область</option>
						<option value="Ненецкий АО">Ненецкий АО</option>
						<option value="Нижегородская область">Нижегородская область</option>
						<option value="Новгородская область">Новгородская область</option>
						<option value="Новосибирская область">Новосибирская область</option>
						<option value="Омская область">Омская область</option>
						<option value="Оренбургская область">Оренбургская область</option>
						<option value="Орловская область">Орловская область</option>
						<option value="Пензенская область">Пензенская область</option>
						<option value="Пермский край">Пермский край</option>
						<option value="Приморский край">Приморский край</option>
						<option value="Псковская область">Псковская область</option>
						<option value="Республика Адыгея">Республика Адыгея</option>
						<option value="Республика Алтай">Республика Алтай</option>
						<option value="Республика Башкортостан">Республика Башкортостан</option>
						<option value="Республика Бурятия">Республика Бурятия</option>
						<option value="Республика Дагестан">Республика Дагестан</option>
						<option value="Республика Ингушетия">Республика Ингушетия</option>
						<option value="Республика Калмыкия">Республика Калмыкия</option>
						<option value="Республика Карелия">Республика Карелия</option>
						<option value="Республика Коми">Республика Коми</option>
						<option value="Республика Крым">Республика Крым</option>
						<option value="Республика Марий Эл">Республика Марий Эл</option>
						<option value="Республика Мордовия">Республика Мордовия</option>
						<option value="Республика Саха (Якутия)">Республика Саха (Якутия)</option>
						<option value="Республика Северная Осетия — Алания">Республика Северная Осетия — Алания</option>
						<option value="Республика Татарстан">Республика Татарстан</option>
						<option value="Республика Тыва">Республика Тыва</option>
						<option value="Республика Хакасия">Республика Хакасия</option>
						<option value="Ростовская область">Ростовская область</option>
						<option value="Рязанская область">Рязанская область</option>
						<option value="Самарская область">Самарская область</option>
						<option value="Санкт-Петербург">Санкт-Петербург</option>
						<option value="Саратовская область">Саратовская область</option>
						<option value="Сахалинская область">Сахалинская область</option>
						<option value="Свердловская область">Свердловская область</option>
						<option value="Севастополь">Севастополь</option>
						<option value="Смоленская область">Смоленская область</option>
						<option value="Ставропольский край">Ставропольский край</option>
						<option value="Тамбовская область">Тамбовская область</option>
						<option value="Тверская область">Тверская область</option>
						<option value="Томская область">Томская область</option>
						<option value="Тульская область">Тульская область</option>
						<option value="Тюменская область">Тюменская область</option>
						<option value="Удмуртская Республика">Удмуртская Республика</option>
						<option value="Ульяновская область">Ульяновская область</option>
						<option value="Хабаровский край">Хабаровский край</option>
						<option value="Ханты-Мансийский АО — Югра">Ханты-Мансийский АО — Югра</option>
						<option value="Херсонская область">Херсонская область</option>
						<option value="Челябинская область">Челябинская область</option>
						<option value="Чеченская Республика">Чеченская Республика</option>
						<option value="Чувашская Республика — Чувашия">Чувашская Республика — Чувашия</option>
						<option value="Чукотский АО">Чукотский АО</option>
						<option value="Ямало-Ненецкий АО">Ямало-Ненецкий АО</option>
						<option value="Ярославская область">Ярославская область</option>
					</select>
				</div>
				<div class="row">
					<label class="col-sm-auto">Стоимость литра дизельного топлива:</label>
					<input class="col-auto field medium" type="number" name="disel-price" min="0" step="any">
					<label class="col-auto">₽</label>
				</div>
				<div class="row">
					<label class="col-sm-auto">Стоимость м<span class="small-up">3</span> метана:</label>
					<input class="col-auto field medium" type="number" name="methane-price" min="0" step="any">
					<label class="col-auto">₽</label>
				</div>
				<div class="row">
					<label class="col-sm-auto">Потребление энергии (среднее за месяц)</label>
					<input class="col-auto field medium" type="number" name="energy-usage" min="0" step="any" placeholder="0">
					<label class="col-auto">кВт•ч</label>
				</div>
				<div class="row">
					<label class="col-sm-auto">Стоимость кВт•ч в общей сети</label>
					<input class="col-auto field medium" type="number" name="energy-price" min="0" step="any">
					<label class="col-auto">₽</label>
				</div>
				<input type="submit" name="calculate" value="ПОКАЗАТЬ РЕЗУЛЬТАТ">
			</form>
		</div>
	</body>
</html>