<!DOCTYPE html>
<html>
	<head>
		<title>ESO / Главная</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/svg" href="{{url_for('static', filename='img/logo.png')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/grid.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
		<script type="text/javascript">
			function ToggleLoader() {
				if (loader.classList.contains("hidden")) loader.classList.remove("hidden"); else loader.classList.add("hidden");
			}
			function ScrollToTop() {
				window.scrollTo({top: 0, behavior: 'smooth'});
			}
			window.addEventListener("load", event => {
				var image = document.querySelector('img');
				var isLoaded = image.complete && image.naturalHeight !== 0;
				ToggleLoader();
			});
			window.addEventListener('scroll', function() {
				if (pageYOffset > 100) {
					if (scroll_to_top.classList.contains("hidden")) scroll_to_top.classList.remove("hidden");
				} else {
					if (!scroll_to_top.classList.contains("hidden")) scroll_to_top.classList.add("hidden");
				}
				
			});
		</script>
	</head>
	<body>
		<div id="loader"><div>ESO</div></div>
		<button id="scroll_to_top" onclick="ScrollToTop();" class="hidden">▲</button>
		<div class="navbar">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="{{url_for('static', filename='img/logo.png')}}">
				</a>
				<ul class="buttons">
					<li>
						<button onclick="location.replace('calc');">КАЛЬКУЛЯТОР</button>
					</li>
				</div>
			</div>
		</div>
		<div class="content container">
			<div class="first row">
				<div class="col-sm-3 logo">
					<img src="{{url_for('static', filename='img/logo.png')}}">
				</div>
				<div class="col-sm-9 info">
					<h1>ENERGY SYSTEM OPTIMIZATION</h1>
					<h2>Первый в мире сервис для помощи с выбором оптимального комплекта оборудования для генерации электроэнергии.</h2>
				</div>
			</div>
			<hr class="sep-1">
			<hr class="sep-1">
			<div class="second">
				<h1 class="col-12">Экология и ESG-стратегия</h1>
				<div class="row">
					<h2 class="col-sm-10">Мы поможем подобрать экологичную генерацию энергии и сократить выбросы CO<span class="small-down">2</span> в атмосферу!</h2>
					<img class="col-sm-2" src="{{url_for('static', filename='img/blue_tree.png')}}">
				</div>
				<hr class="sep-2">
				<h1 class="col-12">Мы комбинируем 4 вида энергии!</h1>
				<div class="col-12 row sources">
					<div class="col-md-3">
						<span>СОЛНЕЧНАЯ</span>
						<img src="{{url_for('static', filename='img/sun_energy.png')}}">
					</div>
					<div class="col-md-3">
						<span>ВЕТРЯНАЯ</span>
						<img src="{{url_for('static', filename='img/wind_energy.png')}}">
					</div>
					<div class="col-md-3">
						<span>ГАЗОПОРШНЕВАЯ</span>
						<img src="{{url_for('static', filename='img/gas_energy.png')}}">
					</div>
					<div class="col-md-3">
						<span>ДИЗЕЛЬНАЯ</span>
						<img src="{{url_for('static', filename='img/disel_energy.png')}}">
					</div>
				</div>
			</div>
			<hr class="sep-2" style="margin-right: 8%; margin-left: 8%;">
			<div class="third">
				<span class="tip">При расчётах мы учитываем подключение к общей сети. В некоторых случаях переходить на собственную генерацию энергии нецелесообразно.</span>
				<button onclick="location.replace('calc');">ПЕРЕЙТИ К ПОДСЧЁТАМ!</button>
			</div>
		</div>
	</body>
</html>