<!DOCTYPE html>
<html>
	<head>
		<title>ESO / Результат</title>
		<meta charset="utf-8">
		<meta name="viewport" context="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/svg" href="{{url_for('static', filename='img/logo.png')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/grid.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/result.css')}}">
		<script type="text/javascript">
			function ToggleLoader() {
				if (loader.classList.contains("hidden")) loader.classList.remove("hidden"); else loader.classList.add("hidden");
			}
			window.addEventListener("load", event => {
				var image = document.querySelector('img');
				var isLoaded = image.complete && image.naturalHeight !== 0;
				ToggleLoader();
			});
		</script>
	</head>
	<body>
		<div id="loader"><div>ESO</div></div>
		<div class="navbar">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="{{url_for('static', filename='img/logo.png')}}">
				</a>
				<ul class="buttons">
					<li>
						<button onclick="location.replace('/');">ГЛАВНАЯ</button>
						<button onclick="location.replace('calc');">КАЛЬКУЛЯТОР</button>
					</li>
				</div>
			</div>
		</div>
		<div class="content container">
			<h1 class="col-12 title">
				Результат
			</h1>
			<hr class="sep-1">
			<div class="result">
				<table>
					<thead>
						<tr>
							<th style="width: 2em;">#</th>
							<th>Оборудование</th>
							<th style="width: 6.25em;">Количество</th>
						</tr>
					</thead>
					<tbody>
						{% for i in context["data"] %}
						<tr>
							<td>{{i[0]}}</td>
							<td>{{i[1]}}</td>
							<td>{{i[2]}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<span>{{context.price}}</span>
			</div>
		</div>
	</body>
</html>