:root {
	--color-0: #FFF;
	--color-1: #EFEFEF;
	--color-2: #D5D5D5;
	--color-3: #005C9D;
	--color-4: #FBFBFB;
    --color-5: #424242;
	--color-6: #F3F3F3;
	--color-7: #124C74;
	--color-8: #EBEBEB;
    --color-9: #DDDDDD;
    --color-10: #E3E3E3;
    --color-11: #085CC33D;
    --color-12: #3E627A;
}
body {
	margin: 0;
}
#loader.hidden {
    opacity: 0;
    pointer-events: none;
}
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #efefef;
    opacity: 1;
    z-index: 100;
    transition: 500ms;
    color: var(--color-3);
    font-size: 2.5em;
}
#loader > div {
    content: "";
    position: absolute;
    height: 3em;
    width: 3em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 3em;
}
#loader > div:after {
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    line-height: 2.75em;
    text-align: center;
    font-size: 2.5em;
    color: var(--color-3);
    border-radius: 100%;
    border: 8px dashed var(--color-3);
    padding: 1px;
}
#loader > div:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--color-3);
    border-right: 10px solid var(--color-3);
    animation: 15s loader-anim-0 linear infinite;
}
@keyframes loader-anim-0 {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
html {
	font-size: calc(24px + 16 * (100vw / 1280));
	min-width: 320px;
	min-height: 320px;
	font-family: "Arial", sans-serif;
}
.navbar {
	height: 1.8em;
	background: var(--color-4);
	position: sticky;
    top: 0;
    box-shadow: 0 0.01em 0.3em var(--color-5);
}
.navbar > div {
	height: 100%;
    position: relative;
}
.navbar > div > .logo {
    height: 75%;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
}
.navbar > div > > .logo {
	height: 100%;
	display: block;
}
.navbar > div > .logo:hover img {
    transform: scale(0.95);
}
.navbar > div > .logo > img {
	height: 100%;
	transition: 100ms;
}
.navbar > div > .buttons {
    height: 100%;
    float: right;
    margin: unset;
    padding-right: unset;
}
.navbar > div > .buttons > li {
    list-style: none;
    display: inline-block;
    height: 100%;
}
.navbar > div > .buttons > li > button {
	height: 100%;
    font-size: 0.6em;
    padding: 0 0.5em 0 0.5em;
    background: unset;
    border: unset;
    cursor: pointer;
    color: var(--color-7);
    font-weight: bold;
    position: relative;
    z-index: 0;
}
.navbar > div > .buttons > li > button:hover:before {
	opacity: 1;
    width: 95%;
    height: 55%;
}
.navbar > div > .buttons > li > button:before {
    content: "";
	opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    height: 0%;
    width: 40%;
    background: var(--color-1);
    z-index: -1;
    transition: 150ms;
}
.content {
    margin-bottom: 1em;
    padding-top: 0.5em;
    border-radius: 0 0 1em 1em;
    background: var(--color-6);
}
span.small-down {
    font-size: 50%;
}
span.small-up {
    font-size: 50%;
    vertical-align: super;
}
::selection {
    background: var(--color-11);
}