body {
	background: url("../img/background-0.png");
	background-attachment: fixed;
	background-size: cover;
}
hr.sep-1 {
	border-color: var(--color-3);
	margin: 0.1em 0 0.1em 0;
}
h1.title {
	font-size: 1em;
	margin: 0.3em 0 0.7em 0;
	text-align: center;
	color: var(--color-3);
}
.content > form {
	padding: 5% 8% 2% 8%;
	text-align: center;
}
.content > form > div {
	margin-bottom: 0.3em;
}
.content > form > div > label {
	display: block;
	font-size: 0.7em;
	color: var(--color-3);
}
.content > form > div > input.field {
	display: block;
	font-size: 0.7em;
	color: var(--color-3);
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 0.1em solid var(--color-2);
	border-radius: 0.5em;
	margin: 0 0.4em 0 0.4em;
	outline: 0;
	text-align: center;
	transition: 150ms;
	background: var(--color-10);
}

.content > form > div > input.field.short {
	max-width: 3em;
}
.content > form > div > input.field.medium {
	max-width: 4em;
}
.content > form > div > input.field:hover, .content > form > div > input.field:focus {
	border-bottom-color: var(--color-3);
	background: var(--color-9);
}
.content > form > input {
	border: 0.1em solid var(--color-7);
	background: var(--color-7);
	margin: 2em 0 1em 0;
	color: var(--color-1);
	font-size: 0.6em;
	padding: 1.5% 1.8% 1.5% 1.8%;
	border-radius: 2em;
	cursor: pointer;
	transition: 100ms;
}

select {
	color: var(--color-3); 
	margin: 0.5em 0 1em 0;
	font-size: 0.6em;
	padding: 1.5% 1.8% 1.5% 1.8%;
	border-radius: 2em;
	cursor: pointer;
	transition: 100ms;
}

select:hover {
	border-color: var(--color-3);
	background: var(--color-10);
	color: var(--color-3);
}

.content > form > input:hover {
	border-color: var(--color-3);
	background: var(--color-10);
	color: var(--color-3);
}
