body {
	background: url("../img/background-0.png");
	background-attachment: fixed;
	background-size: cover;
}
.first {
	padding: 2%;
}
.first > .logo {
	text-align: center;
}
.first > .logo > img {
	width: 85%;
}
.first > .info > h1 {
	font-size: 1em;
	margin: unset;
	color: var(--color-3);
}
.first > .info > h2 {
	font-size: 0.7em;
	margin: 0.2em 0 0 0;
	color: var(--color-7);
}
hr.sep-1 {
	border-color: var(--color-3);
	margin: 0.1em 0 0.1em 0;
}
hr.sep-2 {
	margin: 1em 1em 1em 1em;
	border: 0;
	border-top: dotted var(--color-2) 0.2em;
}
.second {
	padding: 2% 5% 2% 5%;
}
.second h1 {
	font-size: 0.8em;
	margin: 0 0 0.3em 0;
	text-align: center;
	color: var(--color-3);
}
.second h2 {
	font-size: 0.65em;
	margin: unset;
	color: var(--color-7);
}
.second > .sources {
	text-align: center;
}
.second > .sources > div > img {
	width: 70%;
}
.second > .sources {
	margin-top: 0.7em;
}
.second > .sources > div {
	transition: 150ms;
}
.second > .sources > div:hover {
	transform: scale(1.05);
}
.second > .sources > div > span {
	color: var(--color-7);
	font-size: 0.55em;
	margin: 0.7em 0 0.7em 0;
	font-weight: bold;
	display: block;
}
.third > .tip {
	font-size: 0.6em;
	display: block;
	color: var(--color-7);
}
.third {
	margin-bottom: 4em;
	text-align: center;
	padding: 0 4% 2% 4%;
}
.third > button {
	font-size: 0.6em;
	margin: 1em 0 1em 0;
	padding: 0.5em 0.6em 0.5em 0.6em;
	border-radius: 1em;
	color: var(--color-0);
	border: 0.12em solid var(--color-7);
	background: var(--color-7);
	cursor: pointer;
	transition: 150ms;
}
.third > button:hover {
	border-radius: 1em;
	color: var(--color-3);
	border-color: var(--color-3);
	background: var(--color-8);
}
#scroll_to_top {
    content: "▲";
    opacity: 0.4;
    color: var(--color-7);
    border: 0.05em solid var(--color-7);
    font-size: 1.6em;
    position: fixed;
    right: 25px;
    bottom: 25px;
    text-align: center;
    background: var(--color-1);
    border-radius: 100%;
    user-select: none;
    transition: 100ms;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    display: block;
}
#scroll_to_top:hover {
    opacity: 0.8;
}
#scroll_to_top.hidden {
    pointer-events: none;
    opacity: 0;
}