body {
	background: url("../img/background-0.png");
	background-attachment: fixed;
	background-size: cover;
}
hr.sep-1 {
	border-color: var(--color-3);
	margin: 0.1em 0 0.1em 0;
}
h1.title {
	font-size: 1em;
	margin: 0.3em 0 0.7em 0;
	text-align: center;
	color: var(--color-3);
}
.result {
    padding: 2%;
    text-align: center;
}
.result > table {
    width: 100%;
}
.result > table > thead > tr > th:last-child {
    border-top-right-radius: 0.5em;
}
.result > table > thead > tr > th:first-child {
    border-top-left-radius: 0.5em;
}
.result > table > tbody > tr > td {
    padding: 0;
    background: var(--color-8);
    font-size: 0.65em;
    height: 1.4em;
    padding: 0 0.5% 0 0.5%;
    color: var(--color-12);
    transition: 150ms;
}
.result > table > tbody > tr > td:last-child, .result > table > tbody > tr > td:first-child {
    text-align: center;
}
.result > table > thead > tr > th {
    padding: 0;
    background: var(--color-2);
    font-size: 0.7em;
    color: var(--color-7);
    font-weight: normal;
    height: 1.6em;
    border-bottom: 0.1em solid var(--color-12);
}
.result > table > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 0.5em;
}
.result > table > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 0.5em;
}
.result > table > tbody > tr > td:first-child {
    text-align: center;
}
.result > table > tbody > tr:hover > td {
    background: var(--color-10);
}
.result > span {
    color: var(--color-7);
    font-size: 0.6em;
    text-align: center;
    display: block;
    margin-top: 1em;
}